doctype html
html(lang="en")
    head
        include partials/head

    body 

        div.contenedor_nueva_cuenta
            form( id="crear_cuenta_form" , novalidate)  
                header 
                    h2 Iniciar Sesi칩n 
                
                .contenido_form
                    label
                        span Nickname 
                        input(type="text", name="nombre" , placeholder="Nombre..." , value="" , required)

                    label
                        span Contrase침a 
                        input(type="password", name="clace" , placeholder="Contrase침a..." , value="" , required)

                footer 
                    button(type="submit" , class="guardar") Iniciar Sesi칩n

        block codigos

            script(src="/js/crear_cuenta.js" , type="module") 