doctype html
html(lang="en")
    head
        include partials/head

    body 

        div.contenedor_nueva_cuenta
            if( error )    

                .mensaje.mensaje_error
                    span #{error}

            form( id="iniciar_sesion_form" , novalidate , method="post" , action='/iniciar_sesion')  
                header 
                    h2 Iniciar Sesi칩n 
                
                .contenido_form
                    label
                        span Nickname 
                        input(type="text", name="nickname" , placeholder="Nombre..." , value="" , required)

                    label
                        span Contrase침a 
                        input(type="password", name="clave" , placeholder="Contrase침a..." , value="" , required)

                    a(href="/crear_usuario").link Aun no tienes cuenta? 

                footer 
                    button(type="submit" , class="guardar") Iniciar Sesi칩n

        block codigos

            script(src="" ) 