.contenedor_nueva_cuenta{
    width: 100vw;
    height: 100vh;

    background-color: $color_resaltado;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // .contenido_form{

    // }
    form{
        background-color: #F1EFF1;
        width: 400px;
        margin: 0 auto;
        
        .contenido_form,footer{
            padding: 15px;
        }

        header{
            border-bottom: 1px solid #d1d1d1;
        }
    }

    .mensaje{
        box-shadow:3px 3px 3px rgb(39, 39, 39);
        margin-bottom: 30px;
        width: 400px;    
    }

    .link{
        text-decoration: underline;
        font-size: .85em;
        color: rgb(0, 35, 148);
    }
}

